<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Волонтёры33</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/swiper-bundle.min.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap-grid.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.rtl.min.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <nav class="navbar-menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-4">
                    <a class="logo" href="/index">Волонтёры33</a>
                </div>
                <div class="col-4">
                    <ul class="navbar-list">
                        <li class="navbar-list__item"><a href="/index">Главная</a></li>
                        <li class="navbar-list__item"><a href="/index">Новости</a></li>
                        <li class="navbar-list__item"><a href="/index">О нас</a></li>
                    </ul>
                </div>
                <div class="col-4">               
                  <div class="navbar__buttons" sec:authorize="isAnonymous()">
                      <a class="button navbar__button" th:href="@{/register}">Регистрация</a>
                      <a class="button navbar__button" th:href="@{/login}">Войти</a>
                  </div>
                  
                  <div class="navbar__buttons" sec:authorize="isAuthenticated()">
                      <a class="button navbar__button" th:href="@{/profile}">Профиль</a>
                      <form class="button-form navbar__button" method="post" th:action="@{/logout}">
                          <input class="button button-exit" type="submit" value="Выход">
                      </form>
                  </div>
                </div>
            </div>
        </div>
    </nav>

    <div layout:fragment="content" class="container">
        
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-3 offset-1">
                    <a href="/index" class="logo footer__logo">Волонтёры33</a>
                    <p class="footer__text">Волонтёрская организация по поиску людей</p>
                    <div class="footer__icons">
                        <a href="" class="footer__icon">
                            <img src="img/вк.png" alt="" />
                        </a>
                        <a href="" class="footer__icon">
                            <img src="img/ватсап.png" alt="" />
                        </a>
                        <a href="" class="footer__icon">
                            <img src="img/инст.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-2 offset-1">
                    <h3 class="footer__subtitle">Навигация</h3>
                    <ul class="footer__list">
                        <li class="footer__item footer__link">
                            <a href="/home/index">В начало</a>
                        </li>
                        <li class="footer__item footer__link"><a href="#">Новости</a></li>
                        <li class="footer__item footer__link"><a href="#">О нас</a></li>
                    </ul>
                </div>
                <div class="col-3">
                    <h3 class="footer__subtitle">Контакты</h3>
                    <ul class="footer__list">
                        <li class="footer__item">8-800-700-54-52</li>
                        <li class="footer__item">volorg33@mail.ru</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="@{/js/swiper-bundle.min.js}"></script>
    <script src="@{/js/main.js}"></script>
    <script src="@{/lib/jquery/dist/jquery.min.js}"></script>
    <script src="@{/lib/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
    <script src="@{/js/site.js}" asp-append-version="true"></script>
</body>
</html>