<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Изменение пароля</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/swiper-bundle.min.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap-grid.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.rtl.min.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
    <div class="container">
        <main role="main" class="profile">
            <div class="profile-wrapper">
              <h1 class="profile__title">Изменение пароля</h1>            
              
              <form th:action="@{'/profile/changePassword'}" th:object="${changePasswordViewModel}" method="post">
              
                  <div class="validationError" th:if="${isMatch}">
                    Проверьте правильность старого пароля.
                  </div>
                             
                  <div>                                                 
                      <div class="form-group">
                          <span class="validationError" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}">Неверные данные<br /></span>
                          <label for="oldPassword" class="control-label profile__label">Старый пароль:</label><br />
                          <input th:field="*{oldPassword}" type="password" name="oldPassword" class="form-control profile__input"/>                      
                      </div>
          
                      <div class="form-group">
                          <span class="validationError" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">Неверные данные<br /></span>
                          <label for="newPassword" class="control-label profile__label">Новый пароль:</label><br />
                          <input th:field="*{newPassword}" type="password" name="newPassword" class="form-control profile__input" />                       
                      </div>
          
                      <input type="submit"
                             value="Сохранить"
                             class="button-secondary profile__button" />
                  </div>
              </form>

          <div class="profile__links">
              <a class="main-link profile__main-link" onclick="history.back();">Назад</a>
              <a class="main-link profile__main-link" th:href="@{/}">На главную</a>
          </div>
          </div>
        </main>
    </div>

    <script src="@{/lib/jquery/dist/jquery.min.js}"></script>
    <script src="@{/lib/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
    <script src="@{/js/site.js}"></script>
</body>
</html>