<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Профиль</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/swiper-bundle.min.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap-grid.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.rtl.min.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <div class="container">
        <main role="main" class="profile">
            <div class="profile-wrapper" th:object="${user}">
              <h1 class="profile__title">Профиль</h1>
              <form method="post" th:action="${'/profile'}">
                  <div>
                      <input value="*{id}" th:field="*{id}" type="hidden"/>
                      <input value="*{password}" th:field="*{password}" type="hidden"/>
                  
                      <div class="form-group">
                          <span class="validationError" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Неверные данные<br /></span>
                          <label for="name" class="control-label profile__label">Имя:</label><br />
                          <input value="*{name}" th:field="*{name}" class="form-control profile__input" />                  
                      </div>
          
                      <div class="form-group">
                          <span class="validationError" th:if="${#fields.hasErrors('surName')}" th:errors="*{surName}">Неверные данные<br /></span>                     
                          <label for="surName" class="control-label profile__label">Фамилия:</label><br />
                          <input th:field="*{surName}" class="form-control profile__input" />
                      </div>           
          
                      <div class="form-group">
                          <span class="validationError" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Неверные данные<br /></span>                     
                          <label for="email" class="control-label profile__label">Электронный адрес:</label><br />
                          <input th:field="*{email}" class="form-control profile__input" />
                      </div>     
                       
                      <input type="submit" value="Сохранить" class="button-secondary profile__button" />
                  </div>
              </form>
              <div class="profile__links">
                  <a class="change-password profile__change-password">Сменить пароль</a>                        
                  <a sec:authorize="hasAuthority('Admin')" th:href="@{/adminPanel}" class="profile__main-link main-link">Управление</a>
                  <a sec:authorize="hasAuthority('Admin')" th:href="@{/index}" class="profile__main-link main-link">Чаты</a>
                  <a class="main-link" th:href="@{/index}">На главную</a>
              </div>
          </div>
        </main>
    </div>

    <script src="@{/js/swiper-bundle.min.js}"></script>
    <script src="@{/js/main.js}"></script>
    <script src="@{/lib/jquery/dist/jquery.min.js}"></script>
    <script src="@{/lib/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
    <script src="@{/js/site.js}" asp-append-version="true"></script>
</body>
</html>
